<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand">TimeBombProject</a>

	<div class="collapse navbar-collapse">
		<ul class="navbar-nav">
			<li class="nav-item" routerLinkActive="active">
				<a class="nav-link" routerLink="/accueil">Accueil</a>
			</li>

			<li class="nav-item" routerLinkActive="active">
				<a class="nav-link" routerLink="/players">Liste des joueurs</a>
			</li>

			<li class="nav-item" routerLinkActive="active">
				<a class="nav-link" routerLink="/cards">Liste des cartes</a>
			</li>
		</ul>
	</div>
</nav>
  
<div class="container">
</div>